$color-incoming: #e3e3e3;
$color-outgoing: #bde8bb;

$bubble-tail-size: 10px;

page-room {

    .message {
        clear: both;
        margin-bottom: 16px;
        overflow: hidden;

        .bubble {
            position: relative;
            background: $color-incoming;
            color: color-inverse($color-incoming);
            border-radius: 8px;
            padding: 10px;
            margin: 0 $bubble-tail-size;
            float: left;

            span {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

            }

            .author {
                font-weight: bold;
            }

            .info {
                text-align: right;
                opacity: 0.5;
            }

            &:after {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: -$bubble-tail-size;
                right: auto;
                z-index: -1;
                top: 0px;
                bottom: auto;
                border: $bubble-tail-size solid;
                border-color: $color-incoming transparent transparent transparent;
            }

        }

        &.outgoing .bubble {
            background: $color-outgoing;
            color: color-inverse($color-outgoing);
            float: right;

            &:after {
                border-top-color: $color-outgoing;
                left: auto;
                right: -$bubble-tail-size;
            }

        }

    }

}