<ion-header>

    <ion-navbar color="primary">

        <ion-title
            [ngClass]="{
                'has-subtitle': hasSubtitle
            }"
        >
            <span class="title">{{ title }}</span>
            <span *ngIf="hasSubtitle" class="subtitle">{{ subtitle }}</span>
        </ion-title>

        <ion-buttons end>

            <button
                *ngFor="let action of actions"
                ion-button
                icon-only
                (click)="action.callback()"
            >
                <ion-icon [name]="action.icon"></ion-icon>
            </button>

            <button
                *ngIf="options.length > 0"
                ion-button
                icon-only
                (click)="openOptionsMenu($event)"
            >
                <ion-icon name="more"></ion-icon>
            </button>

        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <ng-content></ng-content>

</ion-content>

<ng-content select="[footer]"></ng-content>